/* custom font variable */
@font-face {
  font-family: "main-regular";
  src: url("/assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "main-medium";
  src: url("/assets/fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "main-semibold";
  src: url("/assets/fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "main-bold";
  src: url("/assets/fonts/Poppins/Poppins-Bold.ttf");
}
/* css color custom variable */
:root {
  /* primary color */
  --color-primary-50: oklch(0.97 0.014 254.604);
  --color-primary-100: oklch(0.932 0.032 255.585);
  --color-primary-200: oklch(0.882 0.059 254.128);
  --color-primary-300: oklch(0.809 0.105 251.813);
  --color-primary-400: oklch(0.707 0.165 254.624);
  --color-primary-500: oklch(0.623 0.214 259.815);
  --color-primary-600: oklch(0.546 0.245 262.881);
  /* border color */
  --color-border: #e2e8f0;
}

header {
  width: 100%;
  height: fit-content;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 0 var(--color-border);
}

header nav {
  width: 100%;
  max-width: 1550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header hr {
  width: 100%;
  max-width: 1550px;
  border: 1px solid var(--color-border);
}

.logo-wrapper {
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.logo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-wrapper p {
  font-size: 36px;
  line-height: 40px;
  font-family: "main-bold";
  margin: 0;
}

.nav-logo-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.logo-wrap {
  width: fit-content;
  height: 23px;
  overflow: hidden;
}

.logo-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slogan-wrapper .slogan p {
  font-size: 20px;
  line-height: 26px;
  margin: 18px 0;
  font-family: "main-semibold";
}
